{% load staticfiles %}
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="foot-bottom">
				<div class="col-md-4 flick">
					<h4>时尚丽人</h4>
						<ul>
							<li><img src="{%  static "images/img1.jpg"%}" class="img-responsive" alt="" /></li>
							<li><img src="{%  static "images/img2.jpg"%}" class="img-responsive" alt="" /></li>
							<li><img src="{%  static "images/img3.jpg"%}" class="img-responsive" alt="" /></li>
							<li><img src="{%  static "images/img4.jpg"%}" class="img-responsive" alt="" /></li>
							<li><img src="{%  static "images/img5.jpg"%}" class="img-responsive" alt="" /></li>
							<li><img src="{%  static "images/img6.jpg"%}" class="img-responsive" alt="" /></li>
						</ul>
						<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 flick1">
					<h4>流行元素</h4>
					<div class="flick2">
						<div class="flick-left">
						<div class="portfolio-wrapper ">
						<img src="{%  static "images/img1.jpg"%}" class="img-responsive" alt="" />
					</div>
						</div>
						<div class="flick-right">
							<p>Vintage Photography of a Woman with Tools</p>
							<ul>
								<li><a href="#"><i class="comts"> </i><span class="icon_text">8 comments</span></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="flick2">
						<div class="flick-left">
						<div class="portfolio-wrapper ">
						<img src="{%  static "images/img3.jpg"%}" class="img-responsive" alt="" />
						</div>
						</div>
						<div class="flick-right">
							<p>Vintage Photography of a Woman with Tools</p>
							<ul>
								<li><a href="#"><i class="comts"> </i><span class="icon_text">12 comments</span></a></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 flick flikker">
					<h4>STAY IN TOUCH</h4>
					<div class="flick-form_grid">
					   <form>
						 <input type="text" class="textbox" value="Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name';}">
						 <input type="text" class="textbox" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}">
						 <div class="smt">
							<input type="submit" value="subscribe">
						 </div>
					   </form>
			      </div>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>