{% extends 'index/base.html' %}
{% load staticfiles %}
{% block body %}
<div id="home" class="banner">
<div class="header">
	<div class="container">
		<div class="logo">
			<a href="{% url 'first'  %}"><img src="{%  static "images/logo.png"%}" alt=""/></a>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="navigation">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
				<span class="icon-bar"> </span>
			  </button>
			</div>
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'first' %}">首页<span class="sr-only">(current)</span></a></li>
                  <li><a href="{% url 'services'%}">服务</a></li>
				<li><a href="{% url 'gallery'%}">画册</a></li>
                  <li><a href="{% url 'about'%}">关于我们</a></li>
                  <li><a href="{% url 'contact'%}">联系我们</a></li>
                  <li><a href="{% url 'login' %}">用户登录</a></li>
			  </ul>
			  <div class="clearfix"> </div>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
<div class="banner-text">
	<div class="container">
		<h1>都市时尚丽人</h1>
	</div>
</div>
<div class="banner-bottom">
	<div class="container">
		<div class="col-md-4 banner-grid">
			<div class="icon-right">
				<img src="{%  static "images/icon1.png"%}" alt=""/>
			</div>
			<div class="text-left">
			<ul>
				<li><a href="#">Aliquam dapibus tincidunt</a></li>
				<li><a href="#">Donec sollicitudin molestie</a></li>
				<li><a href="#">Fusce feugiat malesuada odio</a></li>
				<li><a href="#">Cum sociis natoque penatibus</a></li>
			</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-4 banner-grid2">
			<div class="icon-right2">
				<img src="{%  static "images/icon2.png"%}" alt=""/>
			</div>
			<div class="text-left">
			<ul>
				<li><a href="#">Aliquam dapibus tincidunt</a></li>
				<li><a href="#">Donec sollicitudin molestie</a></li>
				<li><a href="#">Fusce feugiat malesuada odio</a></li>
				<li><a href="#">Cum sociis natoque penatibus</a></li>
			</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
			<div class="col-md-4 banner-grid3">
				<div class="icon-right3">
					<img src="{%  static "images/icon3.png"%}" alt=""/>
				</div>
				<div class="text-left">
				<ul>
					<li><a href="#">Aliquam dapibus tincidunt</a></li>
					<li><a href="#">Donec sollicitudin molestie</a></li>
					<li><a href="#">Fusce feugiat malesuada odio</a></li>
					<li><a href="#">Cum sociis natoque penatibus</a></li>
				</ul>
				</div>
				<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>

</div>
</div>
<!-- //navigation -->
<!--/header-->
<!--about-->
<div class="about">
	<div class="container">
		<div class="top-text">
				<h3>欢迎</h3>
				<h4>我们
					 ssor at Hampden-Sydney College in Virginia, looked</h4>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text.
					It has roots in a piece of classical Latin literature from 45 BC,
				 making it over 2000 years old. Richard McClintock, a Latin profe
				 ssor at Hampden-Sydney College in Virginia, looked</p>
		</div>

</div>
</div>

<!--works start here-->
<div class="work">
	<div class="container">
		<div class="work-main">
			   <div class="col-md-4 work-wrapper">
							<a href={% static "images/a3.jpg"%}" class="b-link-stripe b-animate-go  swipebox"  title="Stylish Girl">
						     <img src="{%  static "images/a3.jpg"%}" alt="" class="img-responsive"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03"> <span class="glyphicon glyphicon-search" aria-hidden="true"> </span> </h2>
						  		</div></a>
                         <div class="work-details">
					   	  <h3>Sed perspiciatis</h3>
					   	 <p>plane is unbelivable</p>
					   </div>
			   </div>
			   <div class="col-md-4 work-wrapper">
							<a href="images/a2.jpg"%}" class="b-link-stripe b-animate-go  swipebox"  title="Stylish Girl">
						     <img src="{%  static "images/a2.jpg"%}" alt="" class="img-responsive"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03"><span class="glyphicon glyphicon-search" aria-hidden="true"> </span></h2>
						  		</div></a>
                         <div class="work-details">
					   	  <h3>Sed perspiciatis</h3>
					   	 <p>plane is unbelivable</p>
					   </div>
			   </div>
			   <div class="col-md-4 work-wrapper">
							<a href={% static "images/a1.jpg"%}" class="b-link-stripe b-animate-go  swipebox"  title="Stylish Girl">
						     <img src="{%  static "images/a1.jpg"%}" alt="" class="img-responsive"><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03"><span class="glyphicon glyphicon-search" aria-hidden="true"> </span></h2>
						  		</div></a>
                         <div class="work-details">
					   	  <h3>Sed perspiciatis</h3>
					   	 <p>plane is unbelivable</p>
					   </div>
			   </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="{% static "css/swipebox.css"%}">
	<script src="{%  static "js/jquery.swipebox.min.js"%}"></script>
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
</script>
<!--works end here-->



	</div>
</div>
<!--/about-->
<!----------->
		<div class="content-news">
			<div class="container">
				<h3 class="m_1"><span>SERVICES</span></h3>
				<div class="news-left">
					<div class="col-md-6 col-news-right">
					<div class="col-bottom">
						<h6>Claritas est etiam </h6>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
						<a href="#" class="more"> MORE</a>
					</div>
					<div class="col-bottom">
						<h6>Claritas est etiam </h6>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
						<a href="#" class="more"> MORE</a>
					</div>
					<div class="col-bottom">
						<h6>Claritas est etiam </h6>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem  </p>
						<a href="#" class="more"> MORE</a>
					</div>
					<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 col-news">
					<div class="col-news-top">
					<a href="#" class="date-in">
						<img class="img-responsive mix-in" src="{%  static "images/pc.jpg"%}"> alt="">
						<div class="month-in">
						  <label>
							<span class="day">06</span>
							<span class="month">January</span>
						  </label>
						</div>
					</a>
                  <div class="clearfix"> </div>
                </div>
				<div class="col-news-top">
					<a href="#" class="date-in">
						<img class="img-responsive mix-in" src="{%  static "images/pc1.jpg"%}"> alt="">
						<div class="month-in">
						  <label>
							<span class="day">14</span>
							<span class="month">Feb</span>
						  </label>
						</div>
					</a>
                  <div class="clearfix"> </div>
                </div>
			    <div class="col-news-top">
					<a href="#" class="date-in">
						<img class="img-responsive mix-in" src="{%  static "images/pc2.jpg"%}"> alt="">
						<div class="month-in">
						  <label>
							<span class="day">24</span>
							<span class="month">March</span>
						  </label>
						</div>
					</a>
                  <div class="clearfix"> </div>
                </div>
				</div>
				<div class="clearfix"> </div>
	</div>
</div>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!------------>
<!--information-->
<div class="information-section">
		<div class="container">
			<div class="information-grids wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<div class="col-md-4 info-grid loction">
					<h3>Location</h3>
					 <ul class="loction-text">
							<li>10-765 mg-Road,</li>
							<li>Washington, DC, United States,</li>
							<li>ud-19832-6578.,</li>
							<li><img src="{%  static "images/mail.png"%}" alt=""></li>
							<li><a href="mailto:info@example.com">mail@example.com</a></li>
							<div class="clearfix"> </div>
						</ul>

				</div>
				<div class="col-md-4 info-grid information">
					<h3>Information</h3>
					<div class="list styled arrow-list2 two">
						<ul>
							<li><a href="#"><img src="{%  static "images/tick1.png"%}" alt="">Nulla ullamcorper porttitor</a></li>
							<li><a href="#"><img src="{%  static "images/tick1.png"%}" alt="">Fusce consequat porta leo</a></li>
							<li><a href="#"><img src="{%  static "images/tick1.png"%}" alt="">Consectetur adipiscing elit</a></li>
							<li><a href="#"><img src="{%  static "images/tick1.png"%}" alt="">Netus et malesuada fames</a></li>
								<div class="clearfix"> </div>
						</ul>
					</div>
				</div>
				<div class="col-md-4 info-grid custom">
					<h3>Custom Block</h3>
					<h4>Quisque maximus purus in </h4>
					<p>Duis ullamcorper at lectus ac accum
					san. Quisque pellentesque et mauris tellus. Proin
					pellentesque lectus  magna null.
					san. Quisque pellentesque et mauris tellus. Proin
					pellentesque lectus  magna null</p>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}